html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="./assets/css/main.min.css")
        link(rel="stylesheet" type="text/css" href="./assets/css/style.css")
        link(rel="stylesheet" type="text/css" href="./assets/css/advina.css")
    body
        main
            section.container.advina
                .row
                    .col-sm-12
                        h1 Какие существуют способы оплаты?
                        p Способ оплаты любого заказа Вы выбираете при его оформлении. Оплата в Интернет-магазине производится только в рублях. После подтверждения заказа оператором Интернет-магазина способ оплаты изменен быть не может.
                    .col-sm-12.col-md-4
                        .payment-image.payment-image--yellow
                        h2 Наличный расчет
                        p Самый распространенный и удобный способ оплаты покупок. Вы отдаете сотруднику Службы доставки деньги при получении заказа. Обращаем ваше внимание, что подарочные карты ЭЛЬДОРАДО к оплате не принимаются.
                    .col-sm-12.col-md-4
                        .payment-image.payment-image--blue
                        h2 Онлайн оплата банковской картой
                        p Мы принимаем онлайн-платежи по cледующим платежным системам: Visa, MasterCard, JCB, DCL К оплате не принимаются банковские карты Visa и MasterCard без кода CVV2 / CVC2. Оплата заказа производится через интернет непосредственно после его оформления. Минимальная сумма платежа составляет 500 рублей. В случае, если Вы оплатили заказ банковской карточкой и затем отказались от него, возврат переведенных средств производится на Ваш банковский (карточный) счет.
                    .col-sm-12.col-md-4
                        .payment-image.payment-image--red
                        h2 Безналичный расчет
                        p Это единственный способ оплаты в случае, если заказ оформляется на юридическое лицо. Минимальная сумма заказа для выставления счёта составляет 3500 рублей. При получении заказа необходимо иметь при себе доверенность от организации-заказчика и удостоверение личности. Вместе с заказом выдаются счет, счет-фактура и накладная.
            section.container.advina
                .row
                    .col-xs-12
                        h1 Способы Доставки
                        p БЕСПЛАТНАЯ ДОСТАВКА при заказе 2 бутылей воды 19 л. или при заказе товаров на сумму более 1000 рублей.
                    .col-md-5ths.col-xs-6
                        img(src='./assets/img/delivery1.png' alt="").delivery-image
                        p
                            | Сделайте заказ на сайте OKMR.ru или по телефонам:<br />
                            a(href="tel:+74997045700") 8-499-7045-700<br />
                            a(href="tel:+78005555700") 8-800-5555-700
                    .col-md-5ths.col-xs-6
                        img(src='./assets/img/delivery2.png' alt="").delivery-image
                        p Удобными, 2-х часовыми интервалами, наш курьер готов доставить Ваш заказ ежедневно с 6 утра до 24 часов ночи.
                    .clearfix.visible-xs-block
                    .col-md-5ths.col-xs-6
                        img(src='./assets/img/delivery3.png' alt="").delivery-image
                        p За час до доставки мы напомним Вам с помощью СМС или звонком курьера за 30 минут до приезда.
                    .col-md-5ths.col-xs-6
                        img(src='./assets/img/delivery4.png' alt="").delivery-image
                        p От Вас лишь нужно обеспечить проезд нашего транспортного средства до Вашего подъезда (для охраняемых или закрытых территорий)
                    .col-md-5ths.col-xs-6
                        img(src='./assets/img/delivery5.png' alt="").delivery-image
                        p Оплатите заказ наличными, безналом. или банковской картой.
            section
                .container.advina
                    .row
                        .col-xs-12
                            h1 Карта доставки
                            p Обратите внимание на зоны доставки, обратите внимание на зоны доставки, обратите внимание на зоны доставки!
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab7f25d14c47484e349cda7b4d30dc9f6d4e485bbddee098525b4ab11d7dd5c28&amp;source=constructor" width="100%" height="568" frameborder="0"></iframe>